

.message:hover {
  background: #f2f2f2
}

.message__input {
  border-radius: 20px;

}

.message__input > form {
  position: relative;
  display: flex;
  justify-content: center;
}

.message__input > form > input {
  position: fixed;
  bottom: 40px;
  margin-bottom: 25px;
  width: 60%;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 4px 0px 21px -6px #000000;
}

.message__input > form > button {
  display: none;
}

.delMsg {
  display:inline-block;
  font-size: 15px;

}

.message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.message > img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.message__timestamp{
  color: gray;
  font-weight:300;
  font-size: 13px;
}

.message__url {
  border-radius: 20%;
}
